@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');

.App {
    background: #ffffff;
    font-family: 'Cormorant Unicase', serif;

}

.records {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 40px auto;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
    border-radius: 50px;
    padding: 30px;
    box-sizing: border-box;
    min-height: calc(100vh - 80px);
}

.records__item {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

.records__title {
    font-size: 20px;
    color: #606060;
    margin-right: 20px;
    font-weight: bolder;
}

.records__item-name {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
}